*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
#logscreen-my{
    border: 1px solid black;  
    width: 100%;
  
}
#logbody-my{
      height: 600px;
      background-color: white;
      border: 1px solid black;
      width: 25%;
      margin-left: auto;
      margin-right: auto; 
      border-radius: 10px;




}