*{
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
}
.screen{
      width: 100%;
      border: 3px solid red;
}
.main{
      width: 90%;
      border: 2px solid black;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-around;
}
/* .left{
width: 25%;
border: 2px solid black;
} */
.right{
      width: 65%;
      border: 2px solid red;   
}
.product-style{
      border: 2px solid red;   
   
}

#allleft {
      margin-top: 20px;
      width: 25%;
      /* border: 1px solid blue; */
    }
    
    #allleft > div:nth-child(1) > p:nth-child(1) {
      font-size: 24px;
      font-weight: 700;
      color: #353543;
    }
    
    #allleft > div:nth-child(1) > p:nth-child(2) {
      font-size: 16px;
      color: #353543;
      margin-top: 15px;
    }

    #allside > div:nth-child(1) {
      font-size: 16x;
      color: grey;
      width: 89%;
      border: 1px solid rgb(196, 190, 190);
      border-radius: 5px;
      padding: 10px 15px;
      margin-top: 20px;
    }
    
    #allside > div:nth-child(1) > span:nth-child(2) > select {
      border: none;
      outline: none;
      font-weight: 600;
      font-size: 16px;
      color: #353543;
      width: 76%;
    }
    
    #allside > div:nth-child(2) {
      width: 89%;
      border: 1px solid rgb(196, 190, 190);
      border-radius: 5px;
      padding: 10px 15px;
      margin-top: 20px;
      line-height: 55px;
    }
    
    #allside > div:nth-child(2) > div {
      border-bottom: 1px solid rgb(184, 177, 177);
    }
    
    #allside > div:nth-child(2) > div:nth-child(1) {
      line-height: 25px;
    }
    
    #allside > div:nth-child(2) > div:nth-child(1) > h4 {
      font-size: 16px;
      color: #353543;
    }
    
    #allside > div:nth-child(2) > div:nth-child(1) > p {
      font-size: 13px;
      color: rgb(154, 152, 152);
      font-weight: 600;
      padding-bottom: 12px;
    }
    
    #allside > div:nth-child(2) > div > select {
      border: none;
      outline: none;
      font-size: 18px;
      color: #353543;
      width: 97%;
    }


    #allright {
      width: 73%;
      /* border: 1px solid red; */
      /* margin-left: 20px; */
      margin-top: 100px;
      display: flex;
      flex-wrap: wrap;
    }
    
    #allright > div {
      width: 22%;
      height: 380px;
      border: 1px solid rgb(196, 190, 190);
      border-radius: 7px;
      margin: 13px;
      line-height: 23px;
    }
    
    #allright > div > div:nth-child(1) {
      width: 100%;
      height: 275px;
    }
    
    #allright > div > div:nth-child(1) > img {
      width: 100%;
      height: 100%;
     /* margin-left: 11px; */
    }
  
    #allright >div:nth-child(4) > div:nth-child(1) > img {
      width: 100%;
      height: 100%;
     /* margin-left: 11px; */
    }
    
    #allright > div > p:nth-child(2) {
      font-size: 16px;
      color: rgb(99, 99, 99);
      margin-left: 12px;
      margin-top: 12px;
      margin-bottom: 3px;
    }
    
    #allright > div > span:nth-child(3) {
      font-size: 18px;
      margin-left: 12px;
      color: #353543;
      font-weight: 600;
    }
    
    #allright > div > span:nth-child(4) {
      font-size: 12px;
      color: grey;
      margin-left: 4px;
    }
    
    /* #allright > div > p:nth-child(5) {
      font-size: 12px;
      color: grey;
      font-weight: 600;
      margin-left: 12px;
    } */
    
    #allright > div > div:nth-child(6) {
      display: flex;
      margin-left: 12px;
      margin-top:3px;
    }
    
    #allright > div > div:nth-child(6) > span:nth-child(1) {
      display: flex;
      border: 1px solid #23bb75;
      font-size: 13px;
      font-weight: 600;
      padding: 0px 0 0 6px;
      border-radius: 20px;
      align-items: center;
      background-color: #1a8754;
      color: white;
    }
    
    #allright > div > div:nth-child(6) > span:nth-child(1) > p {
      margin-top: 2px;
    }
    
    #allright > div > div:nth-child(6) > span:nth-child(1) > i {
      margin: 3px;
    }
    
    #allright > div > div:nth-child(6) > p {
      font-size: 12px;
      color: grey;
      margin-left: 10px;
    }
    